/*.container {*/
    /*border: 1px solid black;*/
    /*padding: 25px;*/
/*}*/
.btn-space {
    margin-right: 25px;
}
body {
    background-color: #f7f7f7;
    height: 100%;
    width: 100%;
}
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 4em;
    margin-bottom: 0;
    border-radius: 0;
    background-color: #333333;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin: 0;
}
#navbar {
    margin-bottom: 0;
}
.navbar button {
    width: 4em;
    height: 4em;
}
.navbar:hover a, .navbar a, .navbar:link a, .navbar:visited a {
    text-decoration: none;
    color: #cccccc;
}
input[type="text"] {
    border-radius: 0px;
    border: 1px solid black;
}

.lists button {
    width: 3em;
    height: 100%;
    margin-top: 0px;
}
#remove {
    float: right;
    margin-right: 0px;
}
#checkBox {
    margin-top: -20px;
    margin-left: 0px;
    float:left;
    background-color: #cccccc;
    border-left: 2px black solid;
}
#itemName {
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 60%;
    vertical-align: bottom;
}
.checkbox {
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1em;
    color: #333333;
}
.ui-state-default {
    height: 3em;
    border: 1px solid black;
    margin: 5px;
}

.done {
    opacity: 0.5;
}

#btnMenu {
    position:fixed;
    top: 0px;
    right: 0px;
}
#navbarCollapsed {
    padding: 20px;
    border-radius: 0;
    width: auto;
}
.navbar-collapse.in {
    overflow-y: hidden;
}
.navbar-collapse {
    width: 10em;
}
#sideBar {
    position: fixed;
    right: 0px;
    top: 4em;
    background-color: #333333;
    height: 100%;
    color: #cccccc;
    z-index: 100;
    max-width: 500px;
    min-width: 320px;
    padding: 10px;
}
#sideBar button {
    width: 100%;
    text-align: left;
}

#btnLogout {
    position: fixed;
    bottom: 0px;
}

#btnLogout i {
    width: 4em;
    height: 4em;
}

#accountItems {
    position: fixed;
    right: 4em;
}

#accountItems button {
    width: 5em;
}

#addListMenu, #shareListMenu {
    max-width: 500px;
    min-width: 320px;
    margin: auto;
    margin-top: 10%;
    border: 1px solid #333333;
    height: 50%;
    background-color: #ffffff;
}
#addListMenuContent, #shareListMenuContent {
    width: 90%;
    margin: auto;
}

#addListMenuContent h4, #shareListMenuContent h4 {
    margin-top: 2%;
}

#txtListName, #txtShareToEmail {
    width: 100%;
}

#addListMenuContent button, #shareListMenuContent button {
    width: 100%;
    margin-bottom: 10px;
}

.sidenav {
    background-color: #f1f1f1;
    background-color: transparent;
}
/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    #navbarTitle {
        font-size: 18px;
    }

    .sidenav {
        height: auto;
        margin-bottom: 10px;
    }

    #navbar-nav {
        margin: 0;
        margin-top: 10px;
    }
    #itemName {
        max-width: 55%;
    }
    .rightCol {
        margin-top: 0;
        padding-top: 0;
        display: inline-block;
        padding-left: 0;
    }
}


@media (min-width: 767px) {
    #navbarTitle {
        font-size: 25px;
    }

    .navbarButton {
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        text-align: center;
        margin: 10px;
        padding: 13px;
        border: none;
        border-radius: 0;
        float: right;
        width: auto;
    }
    #itemName {
        max-width: 55%;
    }
}

.navbarButton:focus {
    outline: none;
    border: none;
}
